[submodule "lib/Wombat-CC-Arm"]
	path = lib/Wombat-CC-Arm
	url = git@github.com:Wombat-CC/Wombat-CC-Arm.git

[submodule "lib/Wombat-CC-Drivetrain"]
	path = lib/Wombat-CC-Drivetrain
	url = git@github.com:Wombat-CC/Wombat-CC-Drivetrain.git
